.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
  background-color: rgb(18, 18, 18);
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 5px 10px;
  box-shadow: none;
}

.link:hover {
  color: #f9c74f;
  transform: scale(1.1);
  border-color: #f9c74f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
}

.image {
  width: 8rem;
  height: 5rem;
  transform: rotate(-16deg);
}