.video_container {
    position: relative;
    min-height: 100vh;
    min-width: 100vh;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.button_reload {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px;
}

.loading {
    color: #fff;
}
